.alert {
  position: relative;
  padding: 0.75rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: white;
  background-color: red;
  border-color: #721c24;
}

p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
