<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Desafio Luiza Labs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio Luiza Labs</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- área de mensagens-->
    <app-alert></app-alert>

    <!-- Searchbar  -->
    <ion-searchbar #search animated placeholder="Pesquisar" autocomplete="on" [(ngModel)]="filtro"></ion-searchbar>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label><strong>Lista de alunos</strong></ion-label>
            </ion-col>
            <ion-col class="end">
              <ion-button color="primary" routerLink="/aluno-edit">
                <span>Novo aluno</span>
                <ion-icon name="person-add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let aluno of alunos | search: filtro; let odd = odd" [ngClass]="odd ? 'odd' : 'even'">
            <ion-col size-sm-6 size-md-6 size-xs-6>
              <a routerLink="/aluno-edit/{{aluno.id}}">{{aluno.nome}}</a>
            </ion-col>

            <ion-col size-sm-3 size-md-3 size-xs-3>
              {{aluno.email}}
            </ion-col>

            <ion-col size-sm-3 size-md-3 size-xs-3 class="center">
              <span>{{aluno.celular | mask: '(000) 00000-0000'}}</span>
            </ion-col>

            <ion-col class="center" (click)="confirmaRemover(aluno)">
              <ion-icon name="trash-outline" title="Remover"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </div>
</ion-content>