<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Desafio Luiza Labs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio Luiza Labs</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Searchbar  -->
    <!-- <ion-searchbar placeholder="Pesquisar"></ion-searchbar> -->
    <ion-searchbar #search animated placeholder="Pesquisar" autocomplete="on" [(ngModel)]="filtro"></ion-searchbar>


    <ion-list-header>
      <ion-label><strong>Lista de alunos</strong></ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item lines="none">
        <ion-button color="primary" routerLink="/aluno-edit" slot="end">
          <span>Novo aluno</span>
        </ion-button>
      </ion-item>

      <ion-item *ngFor="let aluno of alunos | search: filtro">
        <ion-label routerLink="/aluno-edit/{{aluno.id}}">
          <a routerLink="/aluno-edit/{{aluno.id}}">{{aluno.nome}}</a>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>