<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Desafio Luiza Labs - Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio Luiza Labs</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Cadastro de alunos</strong>

    <!-- Searchbar with cancel button always shown -->
    <ion-searchbar showCancelButton="always"></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let aluno of alunos">
        <ion-label routerLink="/aluno-edit/{{aluno.id}}">
          <a routerLink="/aluno-edit/{{aluno.id}}">{{aluno.nome}}</a>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>