<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/aluno" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Desafio Luiz Labs - Edição de aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio Luiza Labs - Edição de aluno</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <strong>Cadastro de alunos - Edição</strong>
  </div>

</ion-content>